.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 0;
}

.form__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form__logo {
  padding-right: 200px;
}

.form__title {
  margin: 38px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.form__button {
  padding: 0;
  margin-top: 65px;
  margin-bottom: 16px;
  width: 396px;
  height: 45px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  border: none;
  border-radius: 3px;
  background-color: #3456f3;
  cursor: pointer;
}

.form__question {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #a0a0a0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form__phrase {
  margin: 0;
}
.form__link {
  text-decoration: none;
  color: #3456f3;
  margin: 0;
  padding-left: 8px;
  padding-right: 30px;
}

@media screen and (max-width: 770px) {
  .form {
    margin-top: 236px;
  }
}

@media screen and (max-width: 500px) {
  .form {
    margin-top: 56px;
  }

  .form__content {
    align-items: center;
  }

  .form__logo {
    padding-right: 0;
  }

  .form__title {
    margin: 50px 0 80px;
  }
  .form__button {
    width: 260px;
    margin-top: 153px;
  }

  .form__question {
    font-size: 12px;
    line-height: 15px;
    padding-left: 30px;
  }
}
