.searchform {
  margin: 70px 70px 80px;
  padding-bottom: 69px;
  border-bottom: 1px solid #e8e8e8;
}

.searchform__form {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 9px;
  min-height: 72px;
  box-sizing: border-box;
}

.searchform__container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.searchform__form:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.searchform__icon {
  margin-left: 28px;
  margin-right: 18px;
}

.searchform__input {
  border: none;
  background-color: inherit;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  border-style: none;
  flex-grow: 1;
  padding: 7px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.searchform__input:focus {
  border: 1px solid #a0a0a0;
  border-radius: 3px;
}

.searchform__input::placeholder {
  color: #a0a0a0;
}

.searchform__button {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #3456f3;
  border: none;
  background-image: url("../../images/search-icon-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin: 0 0 0 10px;
  padding: 0;
}

.searchform__separator {
  margin: 0 30px;
  height: 40px;
  border: none;
  border-right: 1px solid #e8e8e8;
}

@media screen and (max-width: 780px) {
  .searchform {
    margin: 80px 30px 80px;
    padding-bottom: 110px;
  }

  .searchform__separator {
    margin: 0 20px;
  }
}

@media screen and (max-width: 660px) {
  .searchform {
    margin: 79px 10px 50px;
    padding-bottom: 43px;
  }

  .searchform__form {
    flex-direction: column;
    background-color: #fff;
  }

  .searchform__container {
    background-color: #f9f9f9;
    width: 100%;
    border-radius: 9px;
    height: 72px;
  }

  .searchform__separator {
    display: none;
  }

  .searchform__icon {
    display: none;
  }

  .searchform__input {
    padding-left: 19px;
  }

  .searchform__button {
    margin-right: 20px;
  }

  .searchform__form {
    row-gap: 47px;
  }
}

@media screen and (max-width: 460px) {
  .searchform__input {
    font-size: 14px;
  }
}
