.header {
  min-height: 74px;
  background-color: #073042;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  height: 38px;
  width: 38px;
  margin-left: 70px;
}

.header_theme_light{
  background-color: #fff;
}


@media screen and (max-width: 780px) {
  .header__logo {
    margin-left: 30px;
  }
}

@media screen and (max-width: 480px) {
  .header__logo {
    margin-left: 15px;
  }
}